/*
 * stylesheet for Jordan Stone's Portfolio
 *
 * Name: 	portfolio.css
 * Author: 	jstone08
 * Date: 	6/2/17
 */

body, h1, h2, h3, h4 {
	font-family: sans-serif;
	font-weight: lighter;
}
 
.navigation {
	width: 100%;
	height: 60px;
	text-align: center;
}

.navigation li {
	display: inline-flex;
	text-decoration-line: underline;
	padding-left: 50px;
	padding-right: 50px;
}

.navigation li a {
	color: blue;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.name {
	text-align: center;
}

a {
	color: black;
}

/* photo formatting */
.photo {
	position: relative;
	width: 100%;
	text-align: center;
}

/* text body */
.text {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: 50px auto;
	text-align: center;
}

/* resume body */
.resume {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: 50px auto;
	text-align: left;
}

.resume-title {
	font-size: 19px;
	font-weight: bold;
}

.resume-sub-title {
	font-size: 16px;
	font-weight: bold;
}

/* resume body */
.resume li {
	position: relative;
	line-height: 22px;
	width: 100%;
	max-width: 960px;
	text-align: left;
}

/* resume body */
.resume-sub li {
	position: relative;
	line-height: 22px;
	width: 100%;
	max-width: 960px;
	text-align: left;	
}